.show {
  min-height: 70vh;
  margin: auto;
  margin-top: 2rem;
}

.show p {
  margin-top: 1rem;
}

.banner {
  min-height: 25vh;
  position: relative;
}

.background {
  height: 100%;
  max-height: 450px;
  width: 100%;
  opacity: 0.5;
}

.portret {
  position: absolute;
  width: 30%;
  min-width: 80px;
  max-width: 250px;
  min-height: 120px;
  height: 90%;
  top: 50%;
  transform: translate(-10%, -50%);
  left: 5%;
}

.showSeasons {
  position: absolute;
  position: fixed;
  overflow-y: scroll;
  background-color: white;
  width: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80vh;
  top: 10vh;
  z-index: 3;
  padding: 0.5rem;
  border-radius: 6px;
}

.showSeasons::-webkit-scrollbar {
  display: none;
}

.goBackButton {
  padding: 0.3rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  border: none;
}

.goBackButton:hover {
  cursor: pointer;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.seeSeasonsButton:hover {
  cursor: pointer;
}

.season {
  width: 80%;
  max-width: 300px;
  position: relative;
}

.seasonsWrapper {
  display: grid;
  place-items: center;
  row-gap: 3rem;
  padding: 2rem 0;
}

.details {
  position: absolute;
  top: 35%;
  left: 10px;
  font-size: small;
  width: 90%;
}

.seasonPoster {
  width: 100%;
  filter: brightness(0.5);
  height: auto;
}

.streaming {
  background-color: gainsboro;
  height: 50px;
  width: 60%;
  max-width: 300px;
  padding: 0.4rem;
  text-transform: uppercase;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.streaming p {
  margin-top: 0;
}

.streaming img {
  width: 40px;
  border-radius: 10px;
  height: auto;
}

.castHeader {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.cast {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.actor {
  width: 130px;
  height: 260px;
  overflow: scroll;
  background-color: white;
  color: black;
  font-size: smaller;
}

.actor::-webkit-scrollbar {
  display: none;
}

.actor p,
.actor b {
  padding-left: 0.3rem;
  margin: 0;
  width: 100%;
}

.actorEpisodes {
  color: rgba(0, 0, 0, 0.5);
}

.buttonWrapper {
  flex-basis: 100%;
  display: grid;
  place-items: center;
}

.showAllCastButton {
  padding: 0.7rem;
  width: 200px;
  font-size: medium;
  margin-top: 1rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  border: none;
}

.showAllCastButton:hover {
  cursor: pointer;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.actor img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .seasonsWrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1024px) {
  .seasonsWrapper {
    grid-template-columns: auto auto auto;
  }
}
