.movies {
  display: grid;
  place-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  grid-template-columns: auto auto;
  row-gap: 3rem;
}

.movieBox {
  height: 300px;
  width: 200px;
  position: relative;
  color: white;
  font-size: small;
  transition: all 0.5s ease-in-out;
}

.movieBox:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.movieBox img {
  width: 100%;
  height: 80%;
}

@media screen and (min-width: 768px) {
  .movies {
    grid-template-columns: repeat(3, auto);
    row-gap: 2rem;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .movies {
    grid-template-columns: repeat(4, auto);
    row-gap: 3rem;
  }

  .movieBox {
    height: 450px;
    max-width: 450px;
    width: 250px;
  }
}
